@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #242424;
  --color-1: "#7e4b27"; /* Brown */
  --color-2: "#98cba6"; /* mint */
  --color-3: "#f1ab23"; /* yellow */
  --color-4: "#e9861a"; /* orange */
  --color-5: "#f6e9ac"; /* beige */
}
